#Libreria
tweepy

#El fichero credenciales.py es necesario para poder acceder a la API
#Éste deberá de contener las siguentes variables:
#a) la consumer key (ckey) b) el consumer secret (csecret) 
#c) el access token (atoken) d) el access secret (asecret)
#Los valores de dichas variables son dados por twitter en https://dev.twitter.com
credenciales.py*

#Id del último tweet leido
.historial
